<mat-card-content id="card" layout="row" layout-align="space-around center">
    <div id="image-content">
        <img id="image" src="../../assets/images/homepage.png" alt="Your Image Alt Text">
    </div>
    <div id="information-content">
        <span class="mat-subhead">Stay organized and get things done with ToDo Tracker!</span>
        <p>
            ToDo Tracker helps you manage your tasks efficiently. Keep track of your to-dos, set priorities, and achieve
            your goals.
        </p>
        <a routerLink="/login"><button id="gsbutton" mat-raised-button color="primary">Get Started</button></a>
    </div>
</mat-card-content>
