<div class="container">

    <header class="header">
        <h1>Welcome User</h1>
        <p>You can analyze your tasks here.</p>
        <button id="goto" mat-raised-button color="accent" (click)="navigatetodashboard()">></button>
    </header>


    <div class="row">
        <div class="col-lg-5">
            <h2>Your Tasks Analysis</h2>
            <canvas id="piechart" height="200px"></canvas>
        </div>
    </div>


    <footer class="footer">
        <p>Thank you for using our task analysis tool.</p>
    </footer>

</div>