<div id="main-container">
    <header>
        <h1>Welcome to Secure Access Portal</h1>
        <p>Manage your permissions with ease.</p>
    </header>

    <div class="form-container">
        <h3>If you are granted access, Enter your Permission Code</h3>
        <mat-form-field appearance="outline">
            <mat-label>Enter Permission Code</mat-label>
            <input matInput name="permissioncode" [(ngModel)]="permissioncode" placeholder="Permission Code">
        </mat-form-field>
        <div *ngIf="permissionCodeInvalid" class="error-message">
            Invalid Permission Code. Please Enter the correct Permission Code.
        </div>
        <button mat-button color="primary" class="submit-button" (click)="validatePermissionCode()">Submit</button>
        <h3>If you do not know the security code, <a routerLink="/dashboard">Click Here</a></h3>
    </div>

    <footer>
        <p id="footer-p">&copy; 2024 Secure Access System. All rights reserved.</p>
        <p>Contact us at: todotracker.com</p>
    </footer>
</div>
