<mat-card id="not-found-card">
    <div class="not-found-header">
        <img src="../../assets/images/page not found.jpg" alt="404 Image" class="not-found-image">
        <mat-card-title>
            <h1 class="not-found-title">Page Not Found</h1>
            <h2 class="not-found-subtitle">Invalid URL</h2>
        </mat-card-title>
    </div>
    <mat-card-content>
        <p class="not-found-message">Oops! The page you are looking for seems to have vanished into the cosmos.</p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/">Back to Home</a>
    </mat-card-actions>
</mat-card>
