<div class="container">

    <mat-toolbar id="header" color="primary">
        <span>Todo Dashboard</span>

        <div class="tasktype">
            <button mat-button (click)="TakeMeToDashBoard()">Primary Task</button>
            <button mat-button (click)="CurrentFileMessage()">Secret Task</button>
            <button mat-button (click)="logout()">Logout</button>
        </div>
    </mat-toolbar>

    <div class="task-details">
        <h2 id="newHeader">Your Secret Tasks</h2>
        <p>You have {{ tasks.length }} tasks for today.</p>
    </div>

    <div class="task-container">
        <mat-card *ngFor="let task of pageSlice" class="task-card">
            <mat-card-header>
                <mat-card-title class="tasktitle">{{ task.taskName }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p id="task-desc">{{ task.taskDescription }}</p>
            </mat-card-content>
            <div class="task-meta" *ngIf="task.completionDate != '' || task.priority != '' ">
                <p id="enddate">End Date : <span>{{ task.completionDate }}</span></p>
                <p>Priority : <span
                        [ngClass]="{'priority-low': task.priority === 'Low', 'priority-medium': task.priority === 'Medium', 'priority-high': task.priority === 'High'}">{{
                        task.priority }}</span></p>
                <p>Completion Status: <span
                        [ngClass]="{'completed': task.isCompleted === 'Yes', 'not-completed': task.isCompleted === 'No'}">{{
                        task.isCompleted }}</span></p>
            </div>
            <mat-card-actions class="all-buttons">
                <button mat-button id="action-button2" color="primary"
                    (click)="ShareThisDataToOtherComponent(task.todoId)">Un-Archive</button>
                <button mat-button id="action-button3" color="warn"
                    (click)="deletemeplease(task.todoId)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <mat-paginator class="paginator" [length]="tasks.length" [pageSize]="4"
        (page)="OnPageChange($event)"></mat-paginator>

    <div class="example-button-container">
        <button id="signout-button" mat-fab color="accent" aria-label="Example icon button with a home icon"
            (click)="openprimarytask()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>

    <div id="footer">
        <div class="branding">To-Do Tracker</div>
    </div>


</div>